<%content_for :content_header do%>
<h1>Análise de Viabilidade do Ciclo de Vida</h1>
<p>
  Preencha o formulário abaixo para <% if @version_feasibility.new_record? %>criar
  <% else %>editar<% end %> o plano de análise de viabilidade
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @version_feasibility do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>