<%content_for :content_header do%>
<h1>Fontes de Informação e Estratégias de Análise</h1>
<p>
  Preencha os campos abaixo para <%if @knowledge_acquisition.new_record?%>criar
  <%else%>editar<%end%> o levantamento de informações do domínio e as estratégias de análise
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @knowledge_acquisition do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>