<p>
  <b>Description:</b>
  <%=h @params_config.description %>
</p>

<p>
  <b>:</b>
  <%=h @params_config. %>
</p>


<%= link_to 'Edit', edit_params_config_path(@params_config) %> |
<%= link_to 'Back', params_configs_path %>
