<label for="version_evaluation_quality_criteria">Critérios de Qualidade:</label><br />
<%= text_area :version_evaluation, :quality_criteria, :rows=>20, :cols=>100%><br />
<label for="version_evaluation_artefact_status_id">Status do Artefato:</label>
<%=select :version_evaluation, :artefact_status_id, @artefact_status %><br />
<%=hidden_field :version_evaluation, :version_id, :value =>@version_id%><br />
<%= submit_tag 'Salvar'%>