<%content_for :content_header do%>
<h1>Planejamento de Avaliação do Ciclo de Vida</h1>
<p>
  Preencha o formulário abaixo para <% if @version_evaluation.new_record? %>criar
  <% else %>editar<% end %> o planejamento de avaliação da iteração
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @version_evaluation do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>