<%content_for :content_header do%>
<h1>Plano de Análise de Viabilidade do Projeto</h1>
<p>
  Preencha as informações abaixo para<% if @project_feasibility.new_record? %> criar
  <% else %> editar<% end %> o plano de viabilidade
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @project_feasibility do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>