<p>
  <b>Name:</b>
  <%=h @methodstep.name %>
</p>

<p>
  <b>Inlifecycle:</b>
  <%=h @methodstep.inlifecycle %>
</p>


<%= link_to 'Edit', edit_methodstep_path(@methodstep) %> |
<%= link_to 'Back', methodsteps_path %>
