<%content_for :content_header do%>
<h1>Acesso Negado</h1>
<%end%>

<div class="content">
  <h2 style="color: red; text-align: center">
    OPERAÇÃO ILEGAL
  </h2>
  <p>
    Você executou uma operação ilegal ou não tem permissão para visualizar tal
    página. Por favor, retorne à sua página principal.
  </p>
</div>