<label for="user_name">Nome:</label><br />
<%=text_field :user, :name %><br />
<label for="user_mail">E-mail:</label><br />
<%= text_field :user, :mail %><br />
<label for="user_login">Login</label><br />
<%= text_field :user, :login %><br />
<label for="user_password">Senha</label><br />
<%=password_field :user, :password%><br />

