<%content_for :content_header do%>
<h1>
  <% if @version_schedule.new_record? %>Criando<% else %>Editando<% end %> Atividade
  do Cronograma da Versão
</h1>
<p>Preencha os campos abaixo para compor o cronograma de atividade do ciclo de vida da ontologia</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @version_schedule do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>