<%content_for :content_header do%>
<h1>Relatório de Avaliação do Ciclo de Vida</h1>
<p>
  Preencha o formulário abaixo para <% if @version_assessment.new_record? %>criar
  <% else %>editar<% end %> o relatório de avaliação da iteração
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @version_assessment do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>