<% content_for :content_header do %>
<h1>Planejamento Inicial da Ontologia</h1>
<p>
  Preencha os campos abaixo para<% if @project_description.new_record? %> criar
  <% else %> editar<% end %> o planejamento da ontologia
</p>
<%end%>

<div class="content">
  <% form_tag :action => 'edit', :id => @project_description do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>
