<html>
<head>
  <title>MontoDoc - Auxílio na Documentação de Ontologias de Domínio</title>
  <%= stylesheet_link_tag artefact_model_css, :media => "all"%>
  <%=yield :css%>
</head>

<body>
  <div id="wrap">
    <div id="header">
    </div>
    <%=yield%>
    <div id="footer">
      <p>MontoDoc - Auxílio na Documentação de Ontologias de Domínio</p>
      <p>Departamento de Ciência da Computação - Universidade Federal da Bahia</p>
    </div>
  </div>
</body>
</html>


